<h2>Edit task</h2>
<form method="post">
    <fieldset class="form-group">
        <label for="studentName" class="control-label col-2">Student Name: </label>
        <input class="form-control" name="studentName" id="studentName" required value="{{task.studentName}}"/>

        <label for="Registration" class="control-label col-2">Registration: </label>
        <input class="form-control" name="Registration" id="Registration" required value="{{task.Registration}}"/>

        <label for="studentNumber" class="control-label col-2">studentNumber: </label>
        <input class="form-control" name="studentNumber" id="studentNumber" required value="{{task.studentNumber}}"/>
    </fieldset>
    <div class="offset-2">
        <button class="btn btn-primary">Save task</button>
    </div>
</form>